@{
    ViewData["Title"] = "Teste de Privacidade";

    int idade = 89;
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<p>E-mail: @ViewData["email"]</p>
<p>Idade: @idade</p>
